#footer-layout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 8px solid rgb(57, 57, 57);;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-button {
  text-align: center;
  font-family: "Titan One", cursive;
  font-size: 1.3rem;
  color: rgb(211, 208, 212);
}
.copyright {
    font-family: "Titan One", cursive;
    font-size: .5rem;
    color: rgb(211, 208, 212);
    margin-top: 10px;
}
