/* Techie Coder: https://www.youtube.com/watch?v=828Qsr7-I0g */

body{
    margin: 0;
    padding: 0;
    background: rgb(63, 94, 251);
     background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(146, 199, 85, 1) 36%,
      rgba(159, 78, 192, 1) 68%,
      rgba(252, 70, 107, 1) 100%
    );
}
.block {
    position: relative;
    margin: auto;
    width: 75%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, black, rgb(91, 91, 91));
}
.glow::before , .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top:-2px;
    background: linear-gradient(45deg, red, orange, yellow, rgb(0, 202, 0), blue, rgb(94, 4, 94), rgb(255, 0, 174) );
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
    
}
@keyframes animate {
    0%{
        background-position: 0 0;

    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.glow::after{
    filter: blur(40px);
}

